.login-page {
    background: #ffffff none repeat scroll 0 0;
}

.login-page .login-form .form-group .input-group {
    background: #ffffff none repeat scroll 0 0 padding-box;
}

.login-page .login-header {
    background: #009549 none repeat scroll 0 0;  
    padding:50px;
}
body.login-page  {
    background: #ffffff none repeat scroll 0 0;    
}
.msgbox-body{
    color: #000000;
}
.login-page .login-header.login-caret::after {
    border-color: #009549 transparent transparent;
}
.login-page.login-form-fall-init .login-form {
    top: -20px;
}
input {    
    text-transform: uppercase;
}